build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
build/quak.exe
build/quak.ilk
build/quak.pdb
build/quak.rdi
build/SDL3.dll
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.28.2/CMakeCCompiler.cmake
build/CMakeFiles/3.28.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.28.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.28.2/CMakeSystem.cmake
build/CMakeFiles/3.28.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.28.2/CompilerIdC/CMakeCCompilerId.exe
build/CMakeFiles/3.28.2/CompilerIdC/CMakeCCompilerId.obj
build/CMakeFiles/ShowIncludes/foo.h
build/CMakeFiles/ShowIncludes/main.c
build/CMakeFiles/ShowIncludes/main.obj
build/CMakeFiles/quak.dir/build.make
build/CMakeFiles/quak.dir/cmake_clean.cmake
build/CMakeFiles/quak.dir/compiler_depend.internal
build/CMakeFiles/quak.dir/compiler_depend.make
build/CMakeFiles/quak.dir/compiler_depend.ts
build/CMakeFiles/quak.dir/depend.make
build/CMakeFiles/quak.dir/DependInfo.cmake
build/CMakeFiles/quak.dir/embed.manifest
build/CMakeFiles/quak.dir/flags.make
build/CMakeFiles/quak.dir/intermediate.manifest
build/CMakeFiles/quak.dir/link.txt
build/CMakeFiles/quak.dir/manifest.rc
build/CMakeFiles/quak.dir/manifest.res
build/CMakeFiles/quak.dir/objects1.rsp
build/CMakeFiles/quak.dir/progress.make
build/CMakeFiles/quak.dir/vc140.pdb
build/CMakeFiles/quak.dir/src/audio.c.obj
build/CMakeFiles/quak.dir/src/audio.c.obj.d
build/CMakeFiles/quak.dir/src/duck.c.obj
build/CMakeFiles/quak.dir/src/duck.c.obj.d
build/CMakeFiles/quak.dir/src/game.c.obj
build/CMakeFiles/quak.dir/src/game.c.obj.d
build/CMakeFiles/quak.dir/src/main.c.obj
build/CMakeFiles/quak.dir/src/main.c.obj.d
build/CMakeFiles/quak.dir/src/render.c.obj
build/CMakeFiles/quak.dir/src/render.c.obj.d
build/CMakeFiles/quak_dxil_shaders.dir/build.make
build/CMakeFiles/quak_dxil_shaders.dir/cmake_clean.cmake
build/CMakeFiles/quak_dxil_shaders.dir/compiler_depend.make
build/CMakeFiles/quak_dxil_shaders.dir/compiler_depend.ts
build/CMakeFiles/quak_dxil_shaders.dir/DependInfo.cmake
build/CMakeFiles/quak_dxil_shaders.dir/progress.make
build/assets/10602_Rubber_Duck_v1_diffuse.jpg
build/assets/10602_Rubber_Duck_v1_L3.obj
build/assets/shaders/dxil/lit.frag.dxil
build/assets/shaders/dxil/lit.vert.dxil
build/assets/shaders/dxil/tex.frag.dxil
build/assets/shaders/dxil/tex.vert.dxil
build/assets/shaders/dxil/unlit.frag.dxil
build/assets/shaders/dxil/unlit.vert.dxil
build/assets/shaders/dxil/water.frag.dxil
build/assets/shaders/dxil/water.vert.dxil
build/assets/shaders/opengl/lit.frag
build/assets/shaders/opengl/lit.vert
build/assets/shaders/opengl/tex.frag
build/assets/shaders/opengl/tex.vert
build/assets/shaders/opengl/unlit.frag
build/assets/shaders/opengl/unlit.vert
build/assets/shaders/opengl/water.frag
build/assets/shaders/opengl/water.vert
